<h1>Here are all my todos</h1>
<div id="all-todos"></div>
<br>
<div id="add-todo">
  <h2>Create Todo</h2>
  <form>
    <input id="new-todo" type="text"  >
    <input  type="submit"  value="Add Todo">
  </form>
</div>
<br>
<div id="show-todo"></div>
