*{
    box-sizing: border-box;
    }
div{
    background-color: papayawhip;
    padding: 10px 10px 10px 10px ;
    border: 10px solid black;
    margin: 10px 15px 100px 12px ;
}
section{
    background-color: red;  
    width: 300px;
}
section.box{
    padding: 20px;   
    border: 10px solid black;
    margin-bottom: 60px;
}
