<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= user.firstName %> Profile Page</h1>
    <%= id %>
    <div class="controls">
      <form action="/users/<%= user.id %>/delete" method="POST">
        <input type="submit" value="Delete User" />
      </form>
    </div>
  </body>
</html>
