body {
    /* border: solid black 3px; */
    margin: 0;
    font-family: monospace;
}

nav{
    display: flex;
    justify-content: space-between;
    background: dodgerblue;
    height: 80px;
    align-items: center;
    padding: 10px 30px;
    color: whitesmoke;
}

input#search{
        background: none;
    border: 4px solid whitesmoke;
    padding: 5px 10px;
    color: whitesmoke;
    outline: none;
    font-family: monospace;
}
input#search::placeholder{
    color: whitesmoke;
}

.container{
    text-align: center;
}