<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>our first express app</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quisquam obcaecati sunt nemo quasi, laborum eum? Voluptatibus qui, delectus minima illo atque eum, temporibus culpa minus quidem, alias facere. Veritatis!</p>
</body>
</html>