html {
  font-size: 10px;
}



h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
/* Our h2 should have the font size 20px on big screens, and 30px in the media query below (I want to use ems for this!) */

@media (max-width: 800px) {
  html {
    font-size: 15px;
  }
 
}